// adapted from https://github.com/jthomasmock/arrow-dplyr/blob/master/theme/q-theme.scss
/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

// fonts
// $font-family-sans-serif: "Lato", sans-serif !default;
// $font-family-serif: "Lato", serif !default;
$font-family-monospace: "Fira Mono", monospace !default;

$font-family-sans-serif: 'Manrope', sans-serif;
$presentation-heading-font: 'IBM Plex Serif', serif;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #00008b !default;
$code-block-bg: #f2f2f2;
$code-block-font-size: 0.7em;

$presentation-font-smaller: 0.7rem;

/*-- scss:rules --*/
//.reveal .slides section,
//.reveal .slides section>section {
//	font-size: 1.25em;
//}

h1 {
  font-family: "Fira Mono";
  font-size: 24px;
}

.author, .date, .institution {
  font-size: 48px;
}

.larger {
  font-size: 1.5em;
}

.centerpage {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 48px;
}

.centered {
  text-align: center !important;
  fig-align: center !important;
}

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: center !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

